.port-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 2.5rem;
}

.box {
    width: 25rem;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.img {
    width: 100%;
}

.text-box {
    padding: 1em 2em 2em 2em;
}

.boton {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: #3aa2f0;
    color: white;
    border: 1px solid #3aa2f0;
    border-radius: 10px;
}

.boton:hover {
    background-color: #ffffff00;
    border: 1px solid #3aa2f0;
    color: #3aa2f0;
    transition: 0.3s;
    cursor: pointer;
}

