/* AJUSTES GENERALES */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem
}

p {
    font-size: 0.9rem;
    margin: 1.5rem;
    line-height: 1.5rem;
    color: #353535;
}

li {
    font-size: 0.9rem;
    margin: 1rem 2rem;
    line-height: 1.5rem;
    color: #353535;
}

a {
    font-size: 0.9rem;
    text-decoration: none;
}

/* HEADER */

.home-header {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 40px;
    padding: 3em;
    background-image: url(../images/back_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profile-img {
    max-width: 250px;
    border-radius: 100%;
}

.title h1 {
    color: white;
}

.title h2 {
    color: #3aa2f0;
}

/* NAVIGATION BAR */

.nav-bar {
    display: flex;
    justify-content: end;
    gap: 0px;
    padding-right: 3rem;
    background-color: #3aa2f0;
}

.nav-bar a {
    color: white;
    padding: 1em;
}

.nav-bar a:hover {
    background-color: white;
    color: #3aa2f0;
    transition: 0.3s;
}

/* MAIN */

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/* --- (main responsivo) --- */
@media (max-width: 750px) {
    .main {
        grid-template-columns: 1fr;
    }
}

.colum-1 {
    padding: 3rem;
    background-color: #ededed;
}

.colum-2 {
    padding: 3rem;
}

.colum-2 h3 {
    color: #3aa2f0;
}

.info-box {
    padding: 1rem 0rem;
} 

/* FOOTER */

.footer {
    display: block;
    justify-content: center;
    justify-items: center;
    background-color: #3aa2f0;
    padding: 1rem 0rem;
}

.footer p {
    margin: 0;
    font-weight: 500;
    color: white;
}